<%= form_for @song, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Song</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :album, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :album_name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :artist, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :artist_name, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :year, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :year, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :tags, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tag_names, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', songs_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
