<h1>Songs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th> type</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= link_to song._type, song_path(song) %></td>
        <td><%= song.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_song_path(song), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', song_path(song), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_song_path, :class => 'btn btn-primary' %>
