<h1>Songs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Year</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.name, artist_album_song_path(song.album.artist, song.album, song) %></td>
        <td><%= link_to song.artist_name, artist_path(song.album.artist) %></td>
        <td><%= link_to song.album_name, artist_album_path(song.album.artist, song.album) %></td>
        <td><%= song.year %></td>
        <td>
          <%= link_to 'Edit', edit_song_path(song), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', song_path(song), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_song_path, :class => 'btn btn-primary' %>
