<h1><%= @song.name %></h1>

<p>
  <b>Artist</b><br>
  <%= @song.artist_name %>
</p>

<p>
  <b>Year</b><br>
  <%= @song.year %>
</p>

<p>
  <b>Album</b><br>
  <%= @song.album_name %>
</p>

<p>
  <b>Plays</b><br>
  <%= @song.plays %>
</p>

<p>
  <b>Tags</b><br>
  <%= @song.tag_names %>
</p>

<p>
  <b>Playlists</b><br>
  <%= @song.playlist_ids.join(', ').humanize %>
</p>

<div class="form-actions">
  <%= link_to 'Back', songs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_song_path(@song), :class => 'btn' %>
  <%= link_to 'Delete', song_path(@song), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
