<div class="row">
	<div class="span3"><img src="<%= @song.artwork %>" /></div>
	<div class="span9">
		<div class="row">
			<div class="span8">
				<h1><%= @song.name %></h1>
				
				<h2><%= link_to @song.artist_name, artist_path(@song.album_artist) %><% if @song.featuring_name %> featuring <%= link_to @song.featuring_name, artist_path(@song.featuring) %><% end %></h2>
				
				<h3><%= @song.album_name %></h3>
			</div>
			<div class="span1">
			  <%= link_to 'Edit', edit_song_path(@song), :class => 'btn' %>
			</div>
		</div>
		</div>
		<div class="row">
			<br/>
			<div class="span3">
				<p><b>Year: </b><%= @song.year %></p>
				
				<p><b>Plays: </b><%= @song.plays %></p>
			</div>
			<div class="span3">
				<p><b>Tags: </b><%= raw @song.tags.collect { |tag| link_to tag.name, tag_path(tag) }.join(', ') %></p>
				
				<p><b>Playlists: </b><%= raw @song.playlists.collect { |playlist| link_to playlist.name, playlist_path(playlist) }.join(', ') %></p>
			</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<br/>
		<h2>Music Video</h2>
		<% unless @song.youtube_id == '' %>
		<div id="video-container">
			<div id="dummy"></div>
			<%= @song.video %>
		</div>
		<% else %>
		<p>Video not available.</p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="span12">
		<br/>
		<h2>Sources</h2>
		<%= link_to "Refresh sources", song_update_links_path(@song.album_artist,@song.album,@song), class: 'pull-right' %>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th colspan="2">Premium Services</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% if @song.rdio_hash['shortUrl'] %>
		  	<tr>
		  		<td colspan="2"><%= link_to "Play on Rdio", @song.rdio_hash['shortUrl'], :target => "_blank" %></td>
		  	</tr>
		  	<% end %>
		  	<% if @song.spotify_hash['href'] %>
		  	<tr>
		  		<td colspan="2"><%= link_to "Play on Spotify", "//open.spotify.com/track/#{@song.spotify_hash['href'].split(':')[2] rescue ''}", :target => "_blank"  %></td>
		  	</tr>
		  	<% end %>
		  </tbody>
		  <thead>
		    <tr>
		      <th>MP3 Download (320 kbps)</th>
		      <th>Source</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @song.links.each do |link| %>
		      <tr>
		        <td><%= link_to link[:name], link[:url], target: "_blank" %></td>
		        <td><%= link[:site] %></td>
		      </tr>
		    <% end %>
		    <tr>
		  		<td>Total Links</td>
		  		<td><%= @song.links.size %></td>
		  	</tr>
		  </tbody>
		</table>
	</div>
</div>
