<h1>Song</h1>

<p>
  <b> type</b><br>
  <%= @song._type %>
</p>

<p>
  <b></b><br>
  <%= @song._id %>
</p>

<p>
  <b>Name</b><br>
  <%= @song.name %>
</p>

<p>
  <b>Year</b><br>
  <%= @song.year %>
</p>

<p>
  <b>Plays</b><br>
  <%= @song.plays %>
</p>

<p>
  <b>Album</b><br>
  <%= @song.album_id %>
</p>

<p>
  <b>Tag ids</b><br>
  <%= @song.tag_ids %>
</p>

<p>
  <b>Playlist ids</b><br>
  <%= @song.playlist_ids %>
</p>

<p>
  <b>Slug</b><br>
  <%= @song.slug %>
</p>

<div class="form-actions">
  <%= link_to 'Back', songs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_song_path(@song), :class => 'btn' %>
  <%= link_to 'Delete', song_path(@song), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
