<%= form_for @playlist, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Playlist</legend>

    <div class="control-group">
      <%= f.label :_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :_type, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :_id, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :song_ids, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :song_ids, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :slug, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', playlists_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
