<h1><%= @playlist.name %></h1>
<br/>
<table class='table table-bordered table-striped'>
	<tbody>
<% @playlist.rankings.sort_by{|r| r.position}.each do |ranking| 
	song = ranking.song
	artist = song.album_artist
	featuring = song.featuring
	album = song.album
%>
  	<tr>
	  	<td><h1><%= ranking.position %></h1></td>
	  	<td width="150"><img width="150" src="<%= song.artwork %>" /></td>
			<td>
				<h2><%= link_to song.name, artist_album_song_path(artist, album, song) %></h2>
				<h3><%= link_to artist.name, artist_path(artist) %><% if featuring %> featuring <%= link_to featuring.name, artist_path(featuring) %><% end %></h3>
				<h4 class="hint"><%= album.name %></h4>
			</td>
  	</tr>
<% end %>
	</tbody>
</table>